{% extends 'base.html' %}

{% block header %}
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if g.user['role'] == 'admin' %}
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/start/admin/create_project">Manage Projects</a>
            </li>
        </ul>
        {% endif %}
        {% if g.user['role'] == 'Gerente de Operaciones' %}
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="manager_project.html">Manage Projects</a>
            </li>
        </ul>
        {% endif %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">Logged as: {{ g.user['role'] }}</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}


{% block content %}
{% for project in project %}
	<div class="container">
		<h1>Project: {{ project.description }}    ({{ project.init }} / {{ project.end }})</h1>
		<form method="POST">
            <div class="form-group">
              <label for="problem">Car:</label>
                <select class="form-control" name="car">
                  {% for car in cars %}
                    <option value="{{ car.plaque }}">Plaque: {{ car.plaque }} / Model: {{ car.brand }} / Owner: {{ car.owner }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="problem">Department:</label>
                <select class="form-control" name="department">
                  {% for department in departments %}
                    <option value="{{ department.name }}">{{ department.name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="problem">Manager:</label>
                <select class="form-control" name="manager">
                  {% for manager in managers %}
                    <option value="{{ manager.id }}">
                      {{ manager.role }} - {{ manager.firstname }} {{ manager.lastname }}
                    </option>
                  {% endfor %}
                </select>
              </div>
			<div class="form-group">
				<label for="problem">Problem:</label>
				<input type="text" class="form-control" id="problem" name="problem" required>
			</div>
			<div class="form-group">
				<label for="solution">Solution:</label>
				<input type="text" class="form-control" id="solution" name="solution" required>
			</div>
            <div class="form-group">
				<label for="amount">Amount ($):</label>
				<input type="number" class="form-control" id="amount" name="amount" required>
			</div>
            <div class="form-group">
				<label for="obs">Additional Details:</label>
				<input type="text" class="form-control" id="obs" name="obs">
			</div>
      <input type="hidden" name="add_project" value='None'>
			<button type="submit" class="btn btn-primary">Add to Project</button>
		</form>
	</div>

    <div class="container">
    <form method="GET" class="form-inline">
        <div class="form-group">
            <label for="search">Search by plaque:</label>
            <input type="text" class="form-control" id="search" name="search" value="{{ request.args.get('search') }}">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <br>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Plaque</th>
            <th>Department</th>
            <th>Manager ID</th>
            <th>Problem</th>
            <th>Solution</th>
            <th>Amount</th>
            <th>Additional Details</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project_detail in project_info %}
            <tr>
              <td>{{ project_detail.id }}</td>
              <td>{{ project_detail.car_id }}</td>
              <td>{{ project_detail.department }}</td>
              <td>{{ project_detail.manager }}</td>
              <td>{{ project_detail.problem }}</td>
              <td>{{ project_detail.solution }}</td>
              <td>{{ project_detail.ammount }}</td>
              <td>{{ project_detail.obs }}</td>
              <td>
                <form method="POST">
                  <input type="hidden" name="project_id" value="{{ project_detail.project_id }}">
                  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#budgetModal">
                      Budget
                  </button>
              </form>
                  <a href="/start/manager/modify_project.html?id={{ project_detail.id }}&project_id={{ project_detail.project_id }}" class="btn btn-info btn-sm">
                      Modify
                  </a>
                  <form method="POST" style="display: inline;">
                      <button class="btn btn-danger btn-sm" type="submit" name="delete" value="{{ project_detail.id }}">Delete</button>
                  </form>
              </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
  {% endfor %}
{% endblock %}